CompileFlags:
  BuiltinHeaders: QueryDriver
Diagnostics:
  Suppress: [pp_expects_filename, unused-includes]
---
If:
  PathMatch: .*\.ino
CompileFlags:
  Add:
    - "-x"
    - "c++"
    - "-include"
    - "Arduino.h"
