html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.error {
  border-radius: 25px;
  background-color:firebrick;
  color: black;
  width: 500px;
  height: auto;
  position: fixed;
  top: 5%;
  left: calc(50vw - 250px);
  opacity: 95%;
  box-shadow: 5px 5px #888888;
  display: flex;
  flex-direction: row;
}
.errorHeader {
  font-weight: bolder;
  font-size: xx-large;
  align-self: self-start;
  margin: 10px;
}
.errorButton {
  border-radius: 5px;
  background-color: black;
  color: firebrick;
  width: 25px;
  height: 25px;
  align-self: flex-start;
  margin: 10px;
}
.errorText {
  font-weight: bolder;
  text-align: start;
  margin: 10px;
}
.x {
  font-size: large;
  font-weight: bolder;
}
.info {
  color: green;
  position: fixed;
  top: 10%;
  right: 5%;
}
.version {
  color: black;
  position: fixed;
  top: 5%;
  right: 5%;
}
.restartRequired {
  color: red;
  position: fixed;
  top: 12%;
  right: 5%;
}
body {
  background-color: lightgray;
  color: black;
  margin: 100px 50px;
}

.sliderHeading {
  margin-top: 3rem;
}
.centerFlex {
	display: flex;
	align-content: center;
	flex-direction: column;
}
.rootTable {
	align-self: center;
  display: flex;
  flex-flow: row;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.rootTable > div {
	vertical-align:top;
	margin: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.formTable {
  border-collapse: separate; 
  border-spacing: 0 5px; 
  border: 1px solid black;
  box-shadow: 5px 5px #888888;
  border-radius: 10px;
  margin: 10px;
  padding: 25px;
}
.formTable h3 {
  text-align: center;
  margin-top: -10px;
}
.formTable > tbody > tr:not(.servoHeader) > td:last-child {
	text-align: left;
}
.formTable > tbody > tr:not(.servoHeader) > td:first-child {
	text-align: right;
}
.servoHeader {
  text-align: left;
  font-weight: bolder;
}
.servoHeader > td {
  padding: 5px;
  border: 1px solid transparent;
  border-style: solid none;
  background: darkgray;
}
.servoHeader > td:first-child:not(.other) {
  text-align: right;
  border-right: 1px solid black;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.servoHeader > td:last-child:not(.other) {
  border-top-right-radius: 10px; 
  border-left: 1px solid black;
  border-bottom-right-radius: 10px;
}
.displaySettingsHeader {
  text-align: center;
  margin-top: 30px;
}
[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: white;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: white;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: midnightblue;
}
/*
  midnightblue
  lightslategray
  cornflowerblue*/

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

[slider] > #speedInput {
  pointer-events: all;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: midnightblue;
  color: lightgray;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: midnightblue;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}